
section {
  margin-top: 2%;
  margin-bottom: 2%;
}

#meet-team {
  margin-top: 60px;
}

.profile {
  padding: 15px;
}

#footer {
  margin-bottom: 0;
}

/* .header { */
  /* /* position: absolute; */ */
  /* /* top: 20%; */ */
  /* /* left: 50%; */ */
  /* /* margin-left: 100px; */ */
  /* margin-top: 10%; */
  /* margin-left: 15px; */
  /* margin-right: 15px; */
  /* text-align: center; */
  /* font-style: bold; */
  /* color: #000; */
  /* margin-bottom: 0px; */
/* } */
/*  */
.content {
  font-size: 1.4em;
  line-height: 1.6em;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 15px;
  margin-right: 15px;
}

#each-team {
  text-align: center;
}

.hex-heading {
  margin-top: 30%;
}

.hex-section {
  /* position: absolute; */
  /* display: block; */
  /* top: 0; */
  /* left: 0; */
  overflow: hidden;
  color: #FFF;
  background-image: url("../img/hexagon-vert.png");
  background-size: 100%;
}

.headshot{
  max-width: 100%;
  max-height: 100%;
}

#each-team {
  margin-top: 5%;
  margin-bottom: 5%;
}

#each-team a {
  color: #000;
  text-decoration: underline;
}

/* #each-team a h4{ */
  /* font-style: underline; */
/* } */
/* .nav-logo { */
  /* position: absolute; */
  /* top: 0; */
  /* left: 50%; */
  /* max-width: 200px; */
  /* max-height: 200px; */
/* } */


