
  1.5em;
}
h2 {
  1.1em
}
.mobile-header {
  margin: 20px 10px;
  text-align: center;
  font-style: bold;
  color: #000;
}

.mobile-content {
  margin: 20px 10px;
}

.title {
  font-style: italic;
}

.header {
  /* position: absolute; */
  /* top: 20%; */
  /* left: 50%; */
  /* margin-left: 100px; */
  margin-top: 100px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
  font-style: bold;
  color: #000;
  margin-bottom: 100px;
}

.content {
  font-size: 1.4em;
  line-height: 1.6em;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.blur {
  -webkit-filter: blur(10px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px); 
  width: 100%;
  min-height: 750px;
  background: #ccc;
  opacity: 0.4;
  filter: alpha(apacity=40);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.hex-row {
  margin-top: 50px;
  margin-bottom: 50px;
}

.hex-section {
  width: 80%;
  margin-left: 10%;
  /* padding: 45px 10px; */
  background-image: url("../img/hexagon-orange.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  text-align: center;
}

.vert-hex {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.hex-header {
  padding-top: 30%;
  /* position: absolute; */
  /* top: 20%; */
  /* height: 45px; */
  z-index: 10;
}

.hex-body {
  /* position: absolute; */
  /* top: 20%; */
  padding: 0 10px;
  margin-top: 20px;
  z-index: 10;
  font-size: 1.2em;
}

.side-hex {
  min-height: 500px;
  position: absolute;
  top: 0;
  left: 20%;
}


.navbar {
  background-color: #666666;
}

.navbar-nav .active {
  color: #fff;
  /* line-height: 20px; */
  /* padding: 20px 30px; */
}
.navbar-nav .active li a{
  padding: 20px 30px;
}

/* .navbar-nav.active li a { */
  /* color: #000; */
  /* line-height: 20px; */
  /* padding: 20px 30px; */
/* } */

.navbar-nav .current {
  color: #FFF;
}

.navbar .nav-logo li {
  padding: 10px 30px;
  position: relative;
}

.navbar .nav-humadata {
  padding: 5px 30px;
}

.navbar-nav .logo{
  width: 150px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 150px;
}
.navbar-nav .humadata{
  max-width: 200px;
  height: 50px;
}

.navbar {
  height: 60px;
}

#landing-view {
  background-color: #ffe;
  background: url("../img/classroom2.jpg") 50% 0 repeat fixed;
  background-size: 100%;
  text-align: center;
  position: relative;
  border-bottom: 5px solid #666666;
}

.background-img {
  width: 100%;
}

#landing-view .img-caption{
  font-style: italic; 
  position: absolute;
  color: #000;
  top: 65%;
  /* left: 50%; */
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  background: #f5f5f5;
  opacity: 0.8;
  padding: 15px;
}

#logo {
  display: inline-block;
  color: #FFF;
  z-index: 100;
  max-width: 50%;
  max-height: 80%;
  padding-top: 5px;
}

/* #nav-logo { */
  /* height: 80px; */
  /* width: 160px; */
  /* border: 5px solid #666666; */
  /* border-bottom-left-radius: 80px; */
  /* border-bottom-right-radius: 80px; */
  /* background: #666666; */
  /* position: absolute; */
  /* top: 100%; */
  /* left: 50%; */
  /* margin-left: -80px; */
  /* text-align: center; */
/* } */

#logo-circle {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -80px;
  width: 160px;
  height: 80px;
  border: 5px solid #666666;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  background: #666666;
  z-index: 100;
}

#logo.affix {
  top: 100px;
}

#proj-overview {
  background: #e5e5e5;
  min-height: 400px;
  position: relative;
  padding-bottom: 50px;
}
#proj-overview .header {
  margin-top: 130px;
  margin-bottom: 50px;
}

#proj-diagram {
  background-color: #ffe;
  background: url("../img/research-blur.jpg") 50% 0 repeat fixed;
  min-height: 250px;
  position: relative;
  background-size: 100%;
  text-align: center;
  position: relative;
}

#diagram {
  position: absolute;
  left: 25%;
  width: 50%;
  padding: 5%;
}

#research-overview {
  min-height: 500px;
  background: #e5e5e5;
}

#research-overview .header {
  margin-bottom: 50px;
}

#process-diagram {
  padding: 30px 15px;
}

#domain {
  min-height: 500px;
}

#domain .carousel-control {
  color: #666666;
}

#characterize {
  min-height: 700px;
  background-color: #ffe;
  background: url("../img/cta.JPG") 50% 0 repeat fixed;
  background-size: 100%;
  padding-bottom: 100px;
}

#characterize .section {
  background: #f5f5f5;
  opacity: 0.8;
  padding: 15px;
  margin: 5% 15%;
}

#characterize .header {
  margin-top: 0;
  margin-bottom: 50px;
}

#need-finding {
  background: #f5f5f5;
  padding-bottom: 5%;
}

#nf-carousel .carousel-inner {
  padding-bottom: 150px;
  background: #f5f5f5;
}

#nf-carousel .caption-under {
  position: absolute;
  top: 100%;
  color: #000;

}

#nf-carousel .carousel-control {
  color: #666666;
}

#nf-carousel .carousel-control.left {
  margin-left: -20%;
}

#nf-carousel .carousel-control.right {
  margin-right: -20%;
}

#need-finding {
  min-height: 700px;
}

#design {
  padding-bottom: 5%;
  background-color: #ffe;
  background: url("../img/evaluation.jpg") 50% 0 repeat fixed;
  background-size: 100%;
}

#design .section {
  background: #f5f5f5;
  opacity: 0.8;
  padding: 15px;
  margin: 5% 15%;
}

#design .header {
  margin-top: 0;
  margin-bottom: 50px;
}

#footer {
  font-size: 1em;
  line-height: 20px;
  text-align: center;
  background-color: #666666;
  color: #FFF;
  padding: 30px 0;
}

.side-img {
  width: 100%;
  /* padding: 100px 0; */
  margin-top: 6%;
}

